extends ../layout

block content
    h1 Login
    form(action="/users/login", method = "post")
        .form-group
            label(for = "email") Email
            input(type="email", name="email" id = "email" class = "form-control" )
            label(for = "password") Password
            input(type="password", name="password" id = "password" class = "form-control" )
        input(type="submit" class = "btn btn-primary")