extends ../layout
block content
    h1 Add new Product
    form(action="product/add"
     , method = "post")
        .form-group
            label(for = "name") Product Mame 
            input(type="text", name="form-control" id = "name" class = "form-control" )
            label(for = "price") Product Price
            input(type="text", name="form-control" id = "price" class = "form-control" )
        input(type="submit" class = "btn btn-info")