extends ../layout


block content
    h1 Add new Product
    form(action="/products/add", method = "post")
        .form-group
            label(for = "name") Product Name 
            input(type="text", name="name" id = "name" class = "form-control" )
            label(for = "price") Product Price
            input(type="number", name="price" id = "price" class = "form-control" )
        input(type="submit" class = "btn btn-info")